@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FiraGO-Regular.woff2") format('woff2')
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inconsolata-Regular.woff2") format('woff2')
}

:root {
    --ydb-orange:#ff7f27;
    --ydb-purple:#3b1a68;
    --ydb-lightgray:#f3f3f3;
    --ydb-darkgray:#231f20;
    --ydb-status-red:#ce3a3a;
    --ydb-status-amber:#eab83b;
    --ydb-status-green:#64a555;
}

html, body {
    width: 100%;
    font-family: 'FiraGO', sans-serif;
    color: var(--ydb-purple)

}
table {
    margin: 0 auto;
    width: 500px;
}

table tr {
    text-align: center;
    padding: 5px;
}

table td {
    text-align: center;
    padding: 5px;
}

pre {
    font-family: 'Inconsolata', sans-serif;
    border: 1px solid silver;
}
